*{
    background-color: black;
    color: aliceblue;
    
     /* text-align: center; */
           }

           body {
     display: flex;              
  flex-direction: column;       
  justify-content: center;      
  align-items: center;         
  min-height: 100vh;  
}


input {
display: none;
}

div {
    font-style: italic;
   display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: aqua;
    height: fit-content;
    width: fit-content;
    border: 2px solid blue;
}